<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>

   <h1 class="text-center bg-black p-5 text-white m-0">Rick and Morty</h1>
  <%- include("partials/navbar.ejs") %>

  <div class="container my-4">
    <form action="/episodes" method="GET" class="row g-3 align-items-center mb-4">
      <div class="col-auto">
        <label for="episodeNumber" class="col-form-label">Episode #</label>
      </div>
      <div class="col-auto">
        <input type="number" class="form-control" id="episodeNumber" name="episodeNumber" min="1" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>

    <h2>Episode Information:</h2>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8"> 
                <div class="card shadow text-start">
                    <div class="card-body">
                        <% if (episode) { %>
                            <h2 class="card-title"><%= episode.name %></h2>
                            <p>Season: <%= episode.episode %></p>
                            <p>Air Date: <%= episode.air_date %></p>

                            <% if (characters && characters.length) { %>
                                <h4>Top 5 Characters:</h4>
                                <ul class="list-unstyled">
                                    <% characters.forEach(c => { %>
                                    <li><%= c.name %></li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        <% } %>        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include("partials/footer.ejs") %>
</body>

</html>